
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

<body class="home">
    <div class="container-fluid display-table">


        <div class="row display-table-row">
              <app-sidebar-hod></app-sidebar-hod>
            <div class="col-md-12 col-sm-11 display-table-cell v-align">
                <div class="user-dashboard">
                    <h1 style="font-size: 60px; color: #007bac; text-align: center; margin-top: 60px;">Bonjour,Chef!</h1>

                </div>
            </div>
        </div>
    </div>

</body>
