
<body class="home" style="background-color: white;">
  <div class="container-fluid display-table">

    <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
      <app-sidebar-agent-sc></app-sidebar-agent-sc>



      </div>
      <div class="container" style="margin-bottom: 60px;">
        <div class="jumbotron mt-5">
            <div class="col-sm-8 mx-auto">
              <h1 class="text-center">Messagerie</h1><br>
              <hr>
            </div>
          </div>
        </div>
    </div>
</body>
