
<body class="home" style="background-color: white;">

  <div class="row display-table-row">

<app-sidebar ></app-sidebar>

  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="form-horizontal">
          <h5 class="text-center">Teacher Registration</h5><hr>
          <form  [formGroup]="playerForm" class="create-form" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="inputName">Nom d'utilisateur</label>
              <input class="form-control" type="text" formControlName="username">
              <!-- error -->
              <div class="invalid-feedback" *ngIf="submitted && myForm.username.errors?.required">
               Le nom d'utilisateur est obligatoire!
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3">Mot de passe</label>
              <input class="form-control" type="password" formControlName="password">
              <div class="invalid-feedback" *ngIf="submitted && myForm.password.errors?.required">
                  La mot de passe est obligatoire!
                 </div>
            </div>

            <div class="form-group">
              <label for="inputName">Prénom</label>
              <input class="form-control" type="text" formControlName="firstname">
              <!-- error -->
              <div class="invalid-feedback" *ngIf="submitted && myForm.firstname.errors?.required">
               Le prénom est obligatoire!
              </div>
            </div>

            <div class="form-group">
              <label for="inputVerify3">Nom</label>
              <input class="form-control" type="text" formControlName="lastname">
              <!-- error -->
              <div class="invalid-feedback" *ngIf="submitted && myForm.lastname.errors?.required">
                 Le nom est obligatoire!
                </div>
              </div>

              <div class="form-group">
                <label for="inputDate">DateNaiss</label>
                <input class="form-control" type="date" formControlName="DateNaiss">
                <!-- error -->
                <div class="invalid-feedback" *ngIf="submitted && myForm.lastname.errors?.required">
                   votre Date est obligatoire!
                  </div>
                </div>

                <div class="form-group">
                  <label for="inputDate">Num Telephone</label>
                  <input maxlength = "8" class="form-control" type="number" formControlName="tlf" >
                  <!-- error -->
                  <div class="invalid-feedback" *ngIf="submitted && myForm.lastname.errors?.required">
                     votre Telephone est obligatoire!
                    </div>
                  </div>


                  <div class="form-group">
                    <label for="inputDate">Email</label>
                    <input class="form-control" type="email" formControlName="email" placeholder="email@email.com">
                    <!-- error -->
                    <div class="invalid-feedback" *ngIf="submitted && myForm.lastname.errors?.required">
                       votre Date est obligatoire!
                      </div>
                    </div>

            <div class="form-group">
              <label for="inputPassword3">Departement</label>
              <select class="custom-select form-control"
                formControlName="dept">
                <option value="">Choisir Departement</option>
                <option *ngFor="let dep of Dept" value="{{dep._id}}">{{dep.name}}
                </option>
              </select>
              <!-- error -->
              <div class="invalid-feedback" *ngIf="submitted && myForm.dept.errors?.required">
                Choisir une Departement.
              </div>
            </div>

            <div class="form-group">
              <button type="submit" id="signup-btn" class="btn btn-lg btn-primary btn-block">Enregister.</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
  </div>
</body>
