
<body class="home" style="background-color: white;">
  <div class="container-fluid display-table">

    <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
      <app-sidebar-teacher></app-sidebar-teacher>



      </div>
  <div class="container" style="margin-bottom: 60px;">
    <div class="jumbotron mt-5">
        <div class="col-sm-8 mx-auto">
          <h1 class="text-center">Courses</h1><br>
          <hr>
        </div>
      </div>
      <p *ngIf="Teachers.length <= 0" class="no-data text-center" style="	color: #007bac; font-size: 20px; font-weight: bold;">Il n'y a pas encore de module ajoutés!</p>

      <!-- Employee list -->
      <table class="table table-bordered" *ngIf="Teachers.length > 0">
        <thead class="table-primary">
          <tr>
            <th scope="col">Nom de module</th>
            <th scope="col">Durée module</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let teach of Teachers; let i = index">
            <td>{{teach.name}}</td>
            <td>{{teach.hourly_load}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    </div>
