<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

<body class="home" style="background-color: white;">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo" style="background-color: white ">
                    <a hef="home.html"><img src="../../../assets/images/school.jpg" alt="merkery_logo" class="hidden-xs hidden-sm">
                        <img src="../../../assets/images/school.jpg" alt="merkery_logo" class="visible-xs visible-sm circle-logo">

                    </a>
                </div>
                <div class="navi">
                    <ul>
                        <li ><a href="/admin/main"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Acceuil</span></a></li>
                        <li><a href="/deptCreate" ><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm" aria-hidden="true">Gérer Departements</span></a></li>
                        <li><a href="/teacherCreate"><i class="fa fa-users" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Ajout d'enseignants</span></a></li>
                        <li><a href="/teacherList" ><i class="fa fa-users" aria-hidden="true"></i><span class="hidden-xs hidden-sm" aria-hidden="true">Gérer Enseignants</span></a></li>
                        <li><a href="/hodCreate"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Chef de département</span></a></li>
                        <li><a href="/studentCreate"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Ajout Etudiant</span></a></li>
                        <li><a (click)="logout()" style="cursor: pointer;"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Déconnexion</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-sm-11 display-table-cell v-align">
                <div class="user-dashboard">
                    <h1 style="font-size: 60px; color:black; text-align: center; margin-top: 60px;">Bievenue AgentScolarité</h1>

                </div>
            </div>
        </div>
    </div>

</body>