<body class="home" style="background-color: white;">

  <app-sidebar></app-sidebar>


  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="form-horizontal">
          <h5 class="text-center">Modifier Departement</h5><hr>
          <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
              <label for="inputName">Nom Departement</label>
              <input class="form-control" type="text" formControlName="name">
              <!-- error -->
              <div class="invalid-feedback" *ngIf="submitted && myForm.name.errors?.required">
                Department Name is required.
              </div>
            </div>

            <div class="form-group">
              <label for="inputPassword3">Chef de département</label>
              <select class="custom-select form-control"
                formControlName="teacher">
                <option value="">Choisir Enseignant</option>
                <option *ngFor="let teacher of Teachers" value="{{teacher._id}}">{{teacher.name}}
                </option>
              </select>
              <!-- error -->
              <div class="invalid-feedback" *ngIf="submitted && myForm.dept.errors?.required">
                Choisir un chef de Departement.
              </div>
            </div>



            <div class="form-group">
              <button type="submit" id="signup-btn" class="btn btn-lg btn-primary btn-block">Modifier</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</body>
