<div class="container-fluid">

      <app-sidebar ></app-sidebar>


  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="form-horizontal">
          <h5 class="text-center">Sélection du chef de département</h5><hr>
          <form  [formGroup]="playerForm" class="create-form" (ngSubmit)="onSubmit()">

            <div class="form-group">
              <label for="inputPassword3">Departement</label>
              <select class="custom-select form-control"
                formControlName="dept">
                <option value="">Choisir département</option>
                <option *ngFor="let hd of HOD" value="{{hd._id}}">{{hd.name}}
                </option>
              </select>
              <!-- error -->
              <div class="invalid-feedback" *ngIf="submitted && myForm.dept.errors?.required">
                Choisir un département.
              </div>
            </div>

            <div class="form-group">
                <label for="inputPassword3">Enseignant</label>
                <select class="custom-select form-control"
                  formControlName="teacher">
                  <option value="">Choisir un Enseignant</option>
                  <option *ngFor="let teach of Teachers" value="{{teach._id}}">{{teach.firstname}} {{teach.lastname}}
                  </option>
                </select>
                <!-- error -->
                <div class="invalid-feedback" *ngIf="submitted && myForm.teacher.errors?.required">
                  Choisir un Enseignant
                </div>
              </div>

            <div class="form-group">
              <button type="submit" id="signup-btn" class="btn btn-lg btn-primary btn-block">Register</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
