<body class="home" style="background-color: white;">

<div class="container-fluid display-table">
  <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
    <app-sidebar-teacher></app-sidebar-teacher>



  </div>
<div class="container">
    <div class="jumbotron mt-5">
        <div class="col-sm-8 mx-auto">
          <h1 class="text-center">Cahier de classe</h1><br>
          <hr>
        </div>
      </div>
      <!-- <p *ngIf="currentUser.studClass==null" class="no-data text-center" style="	color: #007bac; font-size: 20px; font-weight: bold;">You're not enrolled yet!</p> -->

      <!-- Employee list -->
      <table class="table table-bordered">
        <thead class="table-primary">
          <tr>
            <th scope="col">Classes</th>
            <th scope="col">Modules</th>
            <th scope="col">Etudiants</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cls of Tclass; let j = index">
            <td>{{cls.name}}</td>
            <td *ngFor="let crs of cls.courses; let i = index">{{crs.name}}</td>
            <td *ngFor="let stud of cls.students; let i = index">{{stud.firstname}}</td>

          </tr>
        </tbody>
      </table>
    </div>
