<body class="home" style="background-color: white;">
  <div class="container-fluid display-table">
    <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation" style="width:300px">

      <app-sidebar-student></app-sidebar-student>

  </div>
<div class="container">
    <div class="jumbotron mt-5">
        <div class="col-sm-8 mx-auto">
          <h1 class="text-center">Votre Profile</h1><br>
          <hr>
        </div>
      </div>

      <!-- Employee list -->
      <table class="table table-bordered">
        <thead class="table-primary">
          <tr>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">email</th>
            <th scope="col">télephone</th>
            <th scope="col">date de naissance</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{currentUser.firstname}}</td>
            <td>{{currentUser.lastname}}</td>
            <td>{{currentUser.email}}</td>
            <td>{{currentUser.tlf}}</td>
            <td>{{currentUser.DateNaiss}}</td>

          </tr>
        </tbody>
      </table>
    </div>
